//<BUTTONS (a.btn+tab)>
// Снипет (HTML): btn

.button {
	display: inline-flex;
	@include adaptiveValue("padding-top", 25, 15, $containerWidth, 320, 1);
	@include adaptiveValue("padding-right", 73, 60, $containerWidth, 320, 1);
	@include adaptiveValue("padding-bottom", 25, 14, $containerWidth, 320, 1);
	@include adaptiveValue("padding-left", 73, 60, $containerWidth, 320, 1);
	@include adaptiveValue("font-size", 25, 20, $containerWidth, 320, 1);
	color: #FFF;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	text-align: center;
	border-radius: 73px;
	border: 2px solid $secondMainColor;
	background-color: $secondMainColor;
	transition: .3s ease;
	transition-property: color, background-color;

	@media (any-hover: hover) {
		&:hover {
			background-color: #FFF;
			color: $secondMainColor;

		}
	}

	&._fw {
		width: 100%;
	}
}