//<BUTTONS (a.btn+tab)>
// Снипет (HTML): btn

.button {
	display: inline-flex;
	padding: 18px 2.9em;
	color: #FFF;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	text-align: center;
	border-radius: 73px;
	border: 2px solid $secondMainColor;
	background-color: $secondMainColor;
	transition: .3s ease;
	transition-property: color, background-color;

	@media (any-hover: hover) {
		&:hover {
			background-color: #FFF;
			color: $secondMainColor;

		}
	}

	&._fw {
		width: 100%;
	}
}