//<INPUT>
// Снипет (HTML): inp
input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.input {
	width: 100%;
	display: block;
	padding: rem(30) rem(27) rem(24);
	border-radius: 66px !important;
	border: 2px solid $secondMainColor;
	background-color: transparent;

	&._form-focus {
		background: rgba($color: #fff, $alpha: .5);
	}

	&._form-error {
		background: rgba($color: $secondMainColor, $alpha: .3);
	}
}

textarea.input {
	resize: none;
	padding: 0px 0px;
}

label[data-hidden] {
	position: absolute !important;
	width: 1px !important;
	height: 1px !important;
	padding: 0 !important;
	overflow: hidden !important;
	clip: rect(0, 0, 0, 0) !important;
	white-space: nowrap !important;
	border: 0 !important;
}