.section-about {
	padding-top: rem(128);
}

.about {
	&__container {}

	&__title {
		max-width: rem(980);
	}

	&__slider {
		// margin-top: rem(-89);
		width: 100vw;
		padding-top: rem(89);
		padding-bottom: rem(140);
		position: relative;
		margin-top: rem(-36);
	}

	&__wrapper {}

	&__slide {}

	.swiper-slide__container {}

	&__slide-card {
		padding: rem(40) 0 rem(100) rem(70);
		min-height: rem(361);
		height: auto;
		background: #FFF;
		box-shadow: 0px 0px 70.7px 0px rgba(0, 0, 0, 0.20);
		border-radius: 26px;

		display: flex;
		justify-content: space-between;
	}

	&__slide-content {

		&--1 {
			max-width: rem(450);
		}

		&--2 {
			max-width: rem(1006);
		}

		&--3 {
			max-width: rem(670);
		}
	}

	&__slide-title {
		font-size: rem(50);
		font-weight: 400;
		line-height: 120.157%;
		/* 60.078px */
	}

	&__slide-text {
		font-size: rem(20);
		line-height: 120.157%;
		/* 24.031px */
	}

	&__slide-images {
		position: relative;
		height: auto;

		&--1 {
			width: rem(470);
			height: auto;

			.about__slide-image {
				width: rem(353);
				height: rem(235);
				border-radius: 35px;
				border: 2px solid $secondMainColor;
				background-size: cover;

				box-shadow: 0px 0px 70px 0px rgba(133, 41, 45, 0.20);

				&--1 {
					inset: rem(-129) auto auto 0;
					background-image: url('@img/about/1-1.jpg');
				}

				&--2 {
					inset: auto rem(-93) rem(-147) auto;
					background-image: url('@img/about/1-2.jpg');
				}
			}
		}

		&--2 {
			width: rem(475);
			height: auto;

			.about__slide-image {
				width: 100%;
				aspect-ratio: 475/335;

				inset: auto 0 rem(-100) auto;
				background-image: url('@img/about/2.png');
			}
		}
		&--3 {
			width: rem(452);
			height: auto;

			.about__slide-image {
				width: 100%;
				aspect-ratio: 452/361;

				inset: auto 0 rem(-100) auto;
				background-image: url('@img/about/3.png');
			}
		}

	}

	&__slide-images-wrapper {
		position: relative;
		width: 100%;
		min-height: 100%;

	}

	&__slide-image {
		position: absolute;
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
	}

	&__slide-image--1-1 {}

	&__slide-image--1-2 {}

	&__slide-image--2 {}

	&__slide-image--3 {}
}

.navigation__container {
	margin-top: rem(-80);
}

.navigation-wrapper {
	margin-top: rem(-80);
	// position: absolute;
	padding-left: rem(70);
	display: flex;

	left: rem(70);
	bottom: rem(110);

	gap: rem(10);
	z-index: 100;
}

.swiper-button-prev,
.swiper-button-next {
	width: rem(60);
	aspect-ratio: 1/1;
	border-radius: 50%;
	border: rem(2) solid $secondMainColor;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #FFF;
	transition: background-color .3s ease;
	position: relative;
	z-index: 10;

	path {
		transition: fill .3s ease;
		fill: $secondMainColor;
	}

	&:hover {
		background-color: $secondMainColor;

		path {
			fill: #fff;
		}
	}
}

.swiper-button-prev {}

.swiper-button-next {}