.section-about {
	padding-top: rem(128);
}

.about {
	&__container {}

	&__title {
		max-width: rem(980);
		@include adaptiveValue("font-size", 80, 35, $containerWidth, 400, 1);

		@media (max-width:$mobile) {
			text-align: center;
			@include adaptiveValue("max-width", 500, 400, 768, 400, 1);
			margin: 0 auto;
		}
	}

	&__slider {
		width: 100vw;
		padding-top: rem(89);
		padding-bottom: rem(140);
		position: relative;
		margin-top: rem(-36);
	}

	&__wrapper {
		@media (max-width:$mobile) {
			display: flex;
			flex-direction: column;
			gap: rem(46);
		}
	}

	&__slide-card {
		padding: rem(40) 0 rem(100) rem(70);
		min-height: rem(361);
		height: auto;
		background: #FFF;
		box-shadow: 0px 0px 70.7px 0px rgba(0, 0, 0, 0.20);
		border-radius: 26px;

		display: flex;
		justify-content: space-between;

		@media (max-width:$mobile) {
			flex-direction: column;
			margin: 0 auto;
			width: min(100%, rem(500));

			border-radius: 48px;
			background: #FFF;
			text-align: center;
			align-items: center;
			padding: rem(28) rem(20) rem(21);

			@include adaptiveValue("padding-top", 50, 28, 768, 340, 1);
			@include adaptiveValue("padding-right", 30, 20, 768, 340, 1);
			@include adaptiveValue("padding-bottom", 30, 21, 768, 340, 1);
			@include adaptiveValue("padding-left", 50, 28, 768, 340, 1);
			overflow: hidden;

			box-shadow: 0px 0px 70.7px 0px rgba(0, 0, 0, 0.20);
		}
	}

	&__slide-content {
		width: fit-content;

		&--1 {
			max-width: rem(450);

			@media (max-width:$tablet) {
				max-width: 45%;
			}
		}

		&--2 {
			max-width: 70.34965%; /* 1006/1430 */
		}

		&--3 {
			max-width: 50%;
		}

		@media (max-width:$mobile) {
			max-width: none;
		}
	}

	&__slide-title {
		@include adaptiveValue("font-size", 50, 30, $containerWidth, 400, 1);

		font-weight: 600;
		line-height: 120.157%;
		width: fit-content;

		/* 60.078px */
		@media (max-width:$mobile) {
			text-align: center;
			width: 100%;
		}
	}

	&__slide-text {
		@include adaptiveValue("font-size", 20, 13, $containerWidth, 400, 1);
		line-height: 120.157%;
		/* 24.031px */
		margin-top: rem(9);
	}

	&__slide-images {
		position: relative;
		height: auto;

		&--1 {
			width: rem(470);
			height: auto;


			.about__slide-image {
				@include adaptiveValue("width", 353, 289, $containerWidth, 768, 1);
				// height: rem(235);
				aspect-ratio: 353/235;
				border-radius: 35px;
				border: 2px solid $secondMainColor;
				background-size: cover;

				box-shadow: 0px 0px 70px 0px rgba(133, 41, 45, 0.20);

				&--1 {
					left: 0;
					top: rem(-129);
					background-image: url('@img/about/1-1.jpg');

					@media (max-width: em(1200)) {
						top: rem(-109);
					}
				}

				&--2 {
					right: rem(-93);
					bottom: rem(-147);
					background-image: url('@img/about/1-2.jpg');
				}

				@media (max-width: em(1200)) {
					right: rem(30);
					left: auto;
				}

				@media (max-width:$mobile) {
					width: 100%;
				}
			}

			.about__slide-images-wrapper {
				@media (max-width:$mobile) {
					width: min(100%, rem(353));
					position: static;
					display: flex;
					flex-direction: column;
					align-items: center;
					gap: rem(21);
					margin: 0 auto;

				}
			}

			@media (max-width:$mobile) {
				margin-top: rem(20);
				width: min(100%, rem(353))
			}
		}

		&--2 {
			width: rem(475);
			height: auto;

			.about__slide-image {
				width: 100%;
				aspect-ratio: 475/335;

				inset: auto 0 rem(-100) auto;
				background-image: url('@img/about/2.png');
			}

			@media (max-width:$mobile) {
				position: relative;
				right: rem(-30);
				bottom: rem(-30);

				width: min(100%, rem(400));
				align-self: flex-end;
			}
		}

		&--3 {
			width: rem(452);
			height: auto;

			.about__slide-image {
				width: 100%;
				aspect-ratio: 452/361;

				inset: auto 0 rem(-100) auto;
				background-image: url('@img/about/3.png');
			}

			@media (max-width:$mobile) {
				position: relative;
				bottom: rem(-21);
				width: min(100%, rem(380));
			}
		}

	}

	&__slide-images-wrapper {
		position: relative;
		width: 100%;
		min-height: 100%;
	}

	&__slide-image {
		position: absolute;
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;

		@media (max-width:$mobile) {
			position: static;
		}
	}
}

.navigation__container {
	margin-top: rem(-80);

	@media (max-width:$mobile) {
		display: none;
	}
}

.navigation-wrapper {
	margin-top: rem(-80);
	// position: absolute;
	padding-left: rem(70);
	display: flex;

	left: rem(70);
	bottom: rem(110);

	gap: rem(10);
	z-index: 100;
}

.swiper-button-prev,
.swiper-button-next {
	width: rem(60);
	aspect-ratio: 1/1;
	border-radius: 50%;
	border: rem(2) solid $secondMainColor;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #FFF;
	transition: background-color .3s ease;
	position: relative;
	z-index: 10;

	path {
		transition: fill .3s ease;
		fill: $secondMainColor;
	}

	&:hover {
		background-color: $secondMainColor;

		path {
			fill: #fff;
		}
	}
}