.section-delivery {
	padding-bottom: rem(50);
}

.delivery {
	&__container {}

	&__title {}

	&__wrapper {
		margin-top: rem(31);
		gap: rem(50);
		display: flex;
		justify-content: space-between;
	}

	&__moscow {
		.delivery__list-item:not(:last-child) {
			margin-bottom: rem(10);
		}
	}

	&__moscow-title,
	&__russia-title {
		font-size: rem(35);
		font-weight: 400;
		line-height: 120.157%;
		/* 42.055px */
		margin-bottom: rem(15);
	}

	&__russia {

		flex: 0 1 30%;

		.delivery__list-item:not(:last-child) {
			margin-bottom: rem(15);
		}
	}

	&__russia-title {}

	&__list {}

	&__list-item {
		font-size: rem(25);
		font-weight: 400;
		line-height: 120.157%;
		/* 30.039px */
	}
}