//====================================================================================================
.footer {
	position: relative;
	margin-top: rem(58);
	@include adaptiveValue("margin-top", 58, 53, $containerWidth, 400);

	@include adaptiveValue("padding-top", 64, 36, $containerWidth, 400);
	@include adaptiveValue("padding-bottom", 64, 44, $containerWidth, 400);
	background-color: $secondMainColor;

	&__container {
		display: flex;
		@include adaptiveValue("gap", 70, 46, 1100, 768, 1);

		@media (max-width:$mobile){
			 flex-direction: column;
			 align-items: center;
		}
	}

	&__title {
		margin-bottom: rem(12);
		color: #fff;
	}

	&__left {
		flex: 0 1;
		@include adaptiveValue("flex-basis", 450, 300, $containerWidth, 768);

		@media (max-width:$mobile){
			 flex-basis: auto; 
		}
	}

	&__link {
		display: block;
		color: #FFF;
		font-family: Unbounded, sans-serif;
		font-size: rem(15);
		font-style: normal;
		font-weight: 400;
		line-height: normal;

		&:not(.footer__link--politics) {
			border: 2px solid #FFF;
			border-radius: 57px;

			transition: .3s ease;
			transition-property: color, background-color;

			path {
				transition: fill .3s ease;
			}

			&:hover {
				background-color: #FFF;
				color: $secondMainColor;

				path {
					fill: $secondMainColor;
				}
			}
		}

		&--email {
			@include adaptiveValue("font-size", 18, 15, $containerWidth, 400);
			@include adaptiveValue("padding-top", 19, 17, $containerWidth, 400);
			@include adaptiveValue("padding-right", 53, 22, $containerWidth, 400);
			@include adaptiveValue("padding-bottom", 18, 17, $containerWidth, 400);
			@include adaptiveValue("padding-left", 53, 22, $containerWidth, 400);
			width: fit-content;
		}

		&--tel {
			padding: rem(21) rem(32) rem(19);
			@include adaptiveValue("padding-top", 21, 17, $containerWidth, 400);
			@include adaptiveValue("padding-right", 32, 22, $containerWidth, 400);
			@include adaptiveValue("padding-bottom", 19, 17, $containerWidth, 400);
			@include adaptiveValue("padding-left", 32, 22, $containerWidth, 400);
		}

		&--whatsapp {
			@include adaptiveValue("padding", 15, 12, $containerWidth, 400);
			display: flex;
			align-items: center;
			justify-content: center;
			width: fit-content;
			height: fit-content;
		}

		&--politics {
			margin-top: rem(25);
			padding-bottom: rem(5);
			border: none;

			width: fit-content;
		}
	}

	&__links-wrapper {
		margin-top: rem(25);
		display: flex;
		gap: rem(19);
	}

	&__right {
		display: flex;
		flex-direction: column;
	}

	&__title-adress {
		color: #FFF;
		font-family: Unbounded, sans-serif;
		@include adaptiveValue("font-size", 20, 18, $containerWidth, 400);
		font-weight: 500;
		margin-bottom: rem(15);
	}

	&__adress-link {
		display: block;
		color: #FFF;
		font-family: Unbounded, sans-serif;
		@include adaptiveValue("font-size", 15, 13, $containerWidth, 400);
		font-weight: 400;
		line-height: 120%; /* 18/15 */

		max-width: rem(350);
		margin-bottom: rem(20);
		padding-bottom: rem(2);
		span {
			display: block;
		}
	}

	&__map {
		position: absolute;
		inset: auto 0 0 auto;
		width: rem(751);
		height: 100%;
		background-color: $secondMainColor;
		@include adaptiveValue("width", 751, 250, 1900, 1200, 1);

		background: url('@img/map.png');
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;

		@media (max-width: em(1200)){
			  display: none;
		}
	}
}


//====================================================================================================