//====================================================================================================

.header {
	padding-top: rem(19);
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 50;

	pointer-events: none;
}

._header-scroll {
	position: fixed;

	top: -100%;
	transition: top .5s ease 0s;
}

._header-show {
	top: 0;
}

.header__wrapper {
	position: relative;
	width: fit-content;
	&::after{
		content:'';
		position: absolute;
		left: rem(0);
		bottom: rem(0);
		left: rem(0);
		width: 100%;
		height: rem(1);
		background: $secondMainColor;
	}
	pointer-events:fill;
}

.logo-wrapper {
	max-width: rem(198);

	.logo-img {
		width: 100%;
		display: block;
	}
}

.header__menu {
	display: flex;
	flex-direction: row;
}


.menu__body {
	display: flex;
	align-items: flex-end;
	margin-left: rem(29);
	padding: rem(10) 0;
}

.menu__list {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	column-gap: rem(24);
	row-gap: rem(10);

}

.menu__link {
	color: $secondMainColor;
	font-size: rem(20);

}

//====================================================================================================

//Burger
/*
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		cursor: pointer;
		z-index: 5;
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #000;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}
*/