//====================================================================================================
body[style*="padding-right: 17px"] {
	.header {
		right: 17px;
	}
}
.header {
	@include adaptiveValue("padding-top", 37, 25, $containerWidth, 360, 3);
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 50;

	pointer-events: none;
}

._header-scroll {
	position: fixed;

	top: -100%;
	transition: top .5s ease 0s;
}

._header-show {
	top: 0;
}

.header__wrapper {
	position: relative;
	width: fit-content;

	&::after {
		content: '';
		position: absolute;
		left: rem(0);
		bottom: rem(0);
		left: rem(0);
		width: 100%;
		height: rem(1);
		background: $secondMainColor;
	}

	pointer-events:fill;

	@media (max-width:$mobile) {
		width: 100%;

		&::after {
			display: none;
		}
	}
}

.logo-wrapper {
	max-width: rem(198);
	@include adaptiveValue("max-width", 198, 120, 1800, 1000);

	.logo-img {
		width: 100%;
		display: block;
	}
}

.header__menu {
	display: flex;
	flex-direction: row;

	@media (max-width:$mobile) {
		width: 100%;
		justify-content: space-between;
	}
}


.menu__body {
	display: flex;
	align-items: flex-end;
	@include adaptiveValue("margin-left", 60, 40, $containerWidth, 768);
	padding: rem(10) 0;

	@media (max-width:$mobile) {
		box-sizing: border-box;
		position: fixed;
		z-index: 1;
		width: 75%;
		height: 100vh;
		left: -120%;
		top: 0;
		right: 0;
		bottom: 0;
		justify-content: center;
		align-items: center;
		padding: rem(110) rem(20) rem(50);

		background-color: $secondMainColor;

		transition: left .3s ease;

		.menu-open & {
			left: rem(-16);
		}
	}

	@media (max-width:$mobileSmall) {
		width: calc(100% + rem(16));
	}
}

.menu__list {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	@include adaptiveValue("column-gap", 24, 15, $containerWidth, 768);
	row-gap: rem(20);


	@media (max-width:$mobile) {
		flex-direction: column;
		// justify-content: center;
		row-gap: rem(50);
		max-height: none;
		overflow: auto;
		width: 90%;
		height: 100%;
		flex-wrap: nowrap;
	}

}

.menu__link {
	color: $secondMainColor;
	@include adaptiveValue("font-size", 20, 16, $containerWidth, 768);
	overflow: visible;

	&.hvr-underline-from-center::before {
		background-color: $secondMainColor;
		bottom: rem(-10);
		z-index: 10;
		height: rem(4);
	}

	@media (max-width:$mobile) {
		color: #fff;
		font-size: rem(20);

		&.hvr-underline-from-center::before {
			background-color: #fff;
		}
	}
}

//====================================================================================================

//Burger
.icon-menu {
	display: none;
	transition: transform .2s ease 0s;
	margin-top: rem(6);

	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: rem(37);
		height: rem(33);
		cursor: pointer;
		z-index: 5;

		&::before,
		&::after {
			content: "";
			transition: 0.3s ease 0s;
			transition-property: transform, background-color;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(4);
			background-color: $secondMainColor;
		}

		&::before {
			top: 0;
		}

		&::after {
			bottom: 0;
		}

		span {
			transition: 0.3s ease 0s;
			transition-property: transform, background-color;
			width: 67.567568%;
			/* 25/37 */
			height: rem(4);
			position: absolute;
			top: calc(50% - rem(2));
			left: 0;
			background-color: $secondMainColor;
		}

		.menu-open & {
			transform: rotate(180deg);

			span {
				transform: rotate(45deg);
				top: calc(50% - rem(2));
				width: 100%;
			}

			&::before {
				top: calc(50% - rem(2));
				transform: rotate(-45deg);
			}

			&::after {
				bottom: calc(50% - rem(2));
				transform: rotate(45deg);
			}

			span,
			&::before,
			&::after {
				background-color: #fff
			}
		}
	}
}