.section-hero {
	width: 100%;
	overflow: hidden;
}

.hero {
	&__container {
		display: flex;
		width: 100%;
		height: 100%;
		padding-top: max(rem(134), 25vh);
		padding-bottom: rem(60);
		/* 277/925 */

		gap: rem(27);

		@media (max-width:$mobile) {
			box-sizing: border-box;
			position: relative;
			flex-direction: column;
			align-items: center;
			padding-top: rem(134);
		}
	}

	&__content {
		max-width: rem(839);

		// @include adaptiveValue("max-width", 839, 400, $containerWidth, 1000, 1);
		@media (max-width:$mobile) {
			text-align: center;
			display: flex;
			flex-direction: column;
			align-items: center;
			width: 100%;
		}
	}

	&-title {
		// max-width: 95%;
		@include adaptiveValue("font-size", 80, 40, 1900, 768, 2);

		@media (max-width:$mobile) {
			text-align: center;
			@include adaptiveValue("max-width", 500, 324, 768, 360);
			@include adaptiveValue("font-size", 50, 25, 768, 320);
		}
	}

	&__text {
		margin-top: rem(9);

		color: rgba(0, 0, 0, 0.70);
		@include adaptiveValue("font-size", 22, 13, 1900, 700);
		font-style: normal;
		font-weight: 400;
		line-height: normal;

	}

	&__button {
		margin-top: rem(36);
		padding: rem(17) rem(48);

		@include adaptiveValue("font-size", 20, 15, $containerWidth, 400);
	}

	&__advantages {
		margin-top: rem(50);
		padding-top: rem(26);
		display: flex;
		gap: rem(33);

		@media (max-width:$mobile) {
			flex-direction: column;
			gap: rem(58);
		}
	}

	&__advantages-item {
		flex: 1 0 50%;
		position: relative;
		max-width: rem(300);
		padding: rem(36) rem(12) rem(13);
		border-radius: 26px;
		background: #FFF;
		box-shadow: 0px 0px 70.7px 0px rgba(0, 0, 0, 0.20);
	}

	&__advantages-icon {
		--width: 55px;
		width: var(--width);
		position: absolute;
		top: calc(var(--width) / -2);
		left: calc(50% - (var(--width) / 2));
		aspect-ratio: 1/1;
		display: flex;
		align-items: center;
		justify-content: center;

		background-color: $secondMainColor;
		border-radius: 50%;
		filter: drop-shadow(0px 0px 27.6px $secondMainColor);
	}

	&__advantages-text {
		color: #000;
		text-align: center;
		font-size: rem(16);
		@include adaptiveValue("font-size", 16, 14, $containerWidth, 700);
		font-weight: 400;
		line-height: 112.496%;
		/* 17.999px */
	}

	&__right {
		width: 100%;
		max-width: 42.266667%;
		/* 634/1500 */
		// @include adaptiveValue("max-width", 634, 500, 1900, 1500, 1);
		// @include adaptiveValue("padding-right", 0, 50, 1900, 1500, 1);

		@media (max-width:$mobile) {

			margin-top: rem(74);
			max-width: min(81.097561%, rem(500));
			/* 266/328 */
		}
	}

	&__image-wrapper {
		position: relative;
		// max-width: rem(634);
		// max-height: rem(405);
		aspect-ratio: 634 / 405;
		width: 100%;
		// @include adaptiveValue("width", 634, 200, 1900, 800, 1);

		height: auto;
		perspective: 2000px;
	}

	&__image,
	&__image--back {
		position: absolute;
		// height: 135.555556%; /* 549/405 */
		// width: 129.810726%; /* 823/634 */
		top: -17.037037%;
		/* 69/405 */
		left: -17.192429%;
		/* 109/634 */
		right: -12.618297%;
		/* 80/634 */
		bottom: -18.765432%;
		/* -76/405 */
		z-index: 2;

		background-image: url('@img/meat-img.png');
		background-position: center;
		background-repeat: no-repeat;
		background-size: contain;
	}

	&__image--back {
		filter: blur(89.65px);
		z-index: 1;
	}

	&__image-bg {
		position: absolute;
		background-position: center;
		background-repeat: no-repeat;
		background-size: contain;

		top: -63.703704%;
		/* -258/405 */
		right: -14.353312%;
		/* -91/634 */
		bottom: -47.160494%;
		/* -191/405 */
		left: -20.347003%;
		/* -129/634 */
		background-image: url(@img/hero-bg.png);

		@media (max-width:$mobile) {
			z-index: -1;
			inset: 4.5% -14.63% auto -5.18%;
			width: 129.573171%;
			/* 425/328 */
			aspect-ratio: 1/1;
			/* 1/1 */
			height: auto;
			transform: rotate(-11.795deg);
		}
	}
}