.section__why {
	margin-top: rem(50);
}

.why {}

.why__container {}

.why__title {
	@media (max-width:$mobile){
		 text-align: center; 
	}
	@media (max-width:$mobileSmall){
		@include adaptiveValue("font-size", 50, 40, 360, 320, 1); 
	}
}

.why__list {
	margin-top: rem(45);
	display: grid;
	width: fit-content;
	grid-template-rows: repeat(2, 1fr);
	grid-template-columns: repeat(3, 1fr);
	@include adaptiveValue("gap", 60, 53, $containerWidth, 400, 1);
	@media (max-width: em(900)){
		margin: rem(30) auto 0;
		grid-template-columns: repeat(2, 1fr); 
		grid-template-rows: repeat(3, 1fr);
	}
	@media (max-width:$mobileSmall){
		grid-template-columns: 1fr;	  
		grid-template-rows: repeat(5, 1fr);
		
	}
}

.why__list-item {
	padding: rem(23) 0;
	border-top: 3px solid $secondMainColor;
	border-bottom: 3px solid $secondMainColor;
	max-width: rem(330);

	span:not(._count) {
		display: block;
		color: $secondMainColor;
		font-weight: 400;
		line-height: 120.157%;
	}
}

.why__number {
	font-size: rem(40);
}

.why__text {
	font-size: rem(25);
}